<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Library Application</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
    <%-include('include/header')%>
    <div class="fullbody">
<div class="container">
  <div class="headerwrapper">
     <div class="headerleft">
          <h1>New & Trending Books Now Avaialable Online</h1>
          <h3>Now at your finger tips</h3>
          <button>Explore Now</button>
     </div>
     <div class="headerright">
          <img class="headerimg" src="https://media.istockphoto.com/vectors/college-students-walking-to-class-at-university-building-happy-boy-vector-id1271367373?k=20&m=1271367373&s=612x612&w=0&h=JEqjsEjna3_xxGol2jCZGFLaKU7SgYCUm2GpjIT3f0U=" alt="">
     </div>
  </div>
</div>
<div class="container">
  <h2>Books</h2>
  <div class="cardcontainer">
    <%for(var i=0;i<books.length;i++){%>
    <div class="unitcard">
      <img class="card-image" src="https://webartdevelopers.com/blog/wp-content/uploads/2021/02/profile-card-design.png" alt="">
      <div class="card-content">
          <h1>Harry Potter</h1>
          <h2>Auhtor</h2>
          <h3>Desc</h3>
      </div>
    </div>
    <%}%>
  </div>
</div>
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
          
          <!--/stories-->
          <%for(var i=0;i<books.length;i++){%>
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="https://media.istockphoto.com/vectors/college-students-walking-to-class-at-university-building-happy-boy-vector-id1271367373?k=20&m=1271367373&s=612x612&w=0&h=JEqjsEjna3_xxGol2jCZGFLaKU7SgYCUm2GpjIT3f0U=" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3><%=books[i].title%></h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default"><%=books[i].author%></span></h4><h4>
                  <small style="font-family:courier,'new courier';" class="text-muted">2 hours ago  • <a href="#" class="text-muted">Read More</a></small>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
    <%}%>

          <!--/stories-->
          
          
          <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>
        
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
      </div>
    </div>
  </div>
</footer>
</div>

	<!-- script references -->
  <script src="https://kit.fontawesome.com/62f747839e.js" crossorigin="anonymous"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>