<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Library Application</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="/css/styles.css" rel="stylesheet">
	</head>
	<body>
    <div class="fullbody">
    <%-include('include/header')%>  
    <%-include('include/_singleauthor')%>                                                                                                
    <!-- <%-include('include/footer')%> -->
    </div>
	
	<!-- script references -->
    <%-include('include/modalscript')%>  
	                                                                                              
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<!-- <script src="assets/js/index.js"></script> -->
	<script>
		//  update author request
		$("#updateauthor").submit(function(event){
       event.preventDefault();
       var unindexed_array = $(this).serializeArray();
       var data={}
       $.map(unindexed_array,function(n,i){
           data[n['name']]=n['value']
       })
       var request = {
           'url':`http://localhost:5000/api/author/${data.id}`,
           'method': 'put',
           'data': data
       }
       $.ajax(request).done(function(response){
           alert('Data updated Successfully')
       })
   })
		// delete author request
  		function deleteauthor(id){
		var request = {
          'url':`http://localhost:5000/api/author/${id}`,
          'method': 'delete',
      }
      if(confirm("Do you want to delete this data")){
       $.ajax(request).done(function(response){
           alert('Data deleted succesfully')
		   window.location.href = "/authors";
       })
      }
   }
	</script>
	</body>
	</html>
	
  	<script src="https://kit.fontawesome.com/62f747839e.js" crossorigin="anonymous"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>