/* override bootstrap styles */
@import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.fullbody{
  width: 95vw;
}
.nav-container{
  margin-top: -30px;
  color: #2c1810;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.container{
  height: auto;
}
.nav-wrapper{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left{
  font-size: 36px;
  font-weight: 600;
  cursor: pointer;
}
.nav-center{
  font-size: 18px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  
}
.nav-item{
  margin-right: 20px;
  background-color: #daaa63;
  padding: 12px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s ease;
}
.nav-item-s{
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  
}
.nav-item:last-child{
  background-color: #daaa6300;
  border: 2px solid black;
  padding: 12px;
  border-radius: 20px;
}
.nav-item:hover{
  background-color: #cf9c50;
}
.nav-item:last-child:hover{
  background-color: #f3e4ce;
}
.marginright{
  margin-right: 10px;
}
.nav-right{
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-right form{
  display: flex;
}
.nav-right form button{
  border: none; 
  background-color: #00002200;
}
.nav-items{
  padding-right: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.nav-items:hover{
  color: gray;
}
.headerwrapper{
  padding: 60px 0px;
  display: flex;
  justify-content: space-between;
}
.headerleft{
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 54px;
  max-width: 10em;
  color: black;
}
.headerleft h1{
  font-size: 54px;

}
.headerleft button{
  padding: 10px;
  background-color: #cf9c50;
  border: none;
  width: 25%;
  border-radius: 10px;
  font-size: 15px;
  transition: 0.5s;
}
.headerleft button:hover{
  background-color: #ab8143;
}
.headerimg{
  border-radius: 50%;
  height: 400px;
  width: 400px;
}
.cardcontainer{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
}
.container h2{
  text-align: center;
  font-size: 48px;
}
.unitcard{
    display: flex;
    margin: 12px;
    width: 45%;
    height: 300px;
    border-radius: 10px;
    transition: 0.5s;
    align-items: center;
}
.colorside{
  color: #223344;
  background-color: gray;

}
.card-image{
  border-radius: 20px;
  height: 80%;
  width: 40%;
  /* margin: 10px;   */
  box-shadow: 2px 4px;

}
.card-content{
  display: flex;
  flex-direction: column;
  /* justify-content: center;  */
  align-items: center;  
  margin-left: 10px;
  color: black;
}
.unitcard:hover{
  box-shadow: 2px 4px;
  transform: translateY(-5px)
}
.card-content h1{
  font-size: 36px;
}
.card-content h2{
  font-size: 26px;
  color: gray;
}
.card-content h3{
  font-size: 18px;
  color: black;
  background-color: gold;
  padding: 10px;
  border-radius: 10px;
}
.card-content a, .buttonB{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #cf9c50;
  border: none;
  width: 60px;
  border-radius: 10px;
  font-size: 15px;
  transition: 0.5s;
  margin-right: 20px;
}
.card-content h4{
  font-size: 16px;
  max-width: 30em;
  margin-left: 20px;
}
.card-content button:hover{
  background-color: #a87e3e;
}
.cardcontainer-single{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 103.9%;
}
.unitcard-single{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 60%;
  padding: 60px 0;
}
.buttongroup{
  display: flex;
}
.modal{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.4);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  left: 0;
  top: 0;
}
.modalcontent{
  border-radius: 10px;
  width: min-content;
  height: auto;
  background-color: white;
}
.closebutton{
  display: flex;
  justify-content: flex-end;
}
.closebutton button{
  display: flex;
  padding: 10px;
  border: none;
  background-color: #cf9c50;
  justify-content: end;
  position: fixed;
  left: 50;
  top: 50;
}
.modalcontent form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 25px;
}
.modalcontent h1 {
  text-align: center;
}
.modalcontent input {
  padding: 15px;
}
.modalcontent form button {
  display: flex;
  padding: 10px;
  margin: 10px 0px;
  border: none;
  background-color: #cf9c50;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
}
.footerwrapper{
  width: 60%;
}


.navbar-form input, .form-inline input {
  width:auto;
}

body {
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top:50px;
  color:#646464;
  background-color: #ffe2d6;
}

h1,h2,h3,.highlight,.navbar a,#masthead h4 {
  font-family:'Oswald',arial narrow,sans-serif;
}
.footercontainer{
  height: 0px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 100px;
  margin-right: 100px;
  margin-top:40px;
  padding-top:100px;
  padding-bottom:40px;
  background-color: #c89953; 
}
.choice{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.btn{
  font-size: 20px;
  border: 1px solid black;
}
.book_btn{
  background-color: #c89953;
  color: white
}
.choice-author{
  display: none;
}

#masthead {
  min-height:199px;
  background-color:#6464cc;
  color:#aaaacc;
}
.customnav{
  background-color: rgb(21, 21, 21);
  color:#646464;

}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  color:#fefeff;
  margin-top:50px;
}

#masthead .well {
  margin-top:31px;
  background-color:#111166;
  border-color:#000022;
  color:#efefff;
  min-height:127px;
}

#topPanel {
  padding-top:0px;
  padding-left:22px;
  padding-right:22px;
}
#topPanel .panel-body {
  padding-top:0px;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.top-spacer {
  background-color:#ffffff;
  height:40px;
}

a,a:hover {
  color:#223344;
  text-decoration:none;
}

.icon-bar {
  background-color:#fff;
}
.chooselogin{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  border-radius: 10px;
  height: 40px;
  background-color: #c89953;
  justify-content: space-around;
  margin-bottom: 25px;
  cursor: pointer;
}
.good{
  display: block;
}
.bad{
  display: none;
}
.loginorwrapper{
  display: flex;
  justify-content: space-between;
}
.login-container{
  height: 90vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-wrapper,.signup-wrapper{
  width: min-content;
  height: auto;
  background-color: white;
  padding: 40px 20px;
  text-align: center;
  border-radius: 10px;
  margin-right: 20px;
  transition: 1s ease;
}
.login-wrapper h1,.signup-wrapper h1 {
  font-size: 28px;
  color: black;
  font-weight: 800;
}
.login-wrapper form,.signup-wrapper form input{
  margin-top: 10px;
}
.login-wrapper form input,.signup-wrapper form input{
  height: 50px;
  background-color: rgb(236, 235, 235);
  margin: 20px 0px;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
.signupbuttonclass{
  margin-top: 20px;
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  height: 40px;
  align-items: center;
  background-color: #c89953 !important; 
  color: white;
  border: none;
}
.login-wrapper form button{
  margin-top: 20px;
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  height: 40px;
  align-items: center;
  background-color: #c89953;
  color: white;
  border: none;
}
.signup-wrapper{
  /* width: min-content; */
  /* height: auto; */
  /* background-color: white; */
  display: none;

}
.admin{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#login-btn,#signup-btn{
  background-color: white;
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
#signup-btn{
  background-color: #c89953;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.navbar-bright {
  background-color:#111166;
  color:#fff;
  margin-bottom: 0;
  border-width: 0;
}

.navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
  color:#ccccdd;
  font-size:14px;
  text-transform: uppercase;
  letter-spacing:.08em;
}

.navbar-bright li > a:hover {
  background-color:#000044;
}

.dropdown-menu {
  min-width: 250px;
}

.caret {
  color:#fff;
}

.navbar-toggle {
  color:#fff;
  border-width:0;
}

.navbar-toggle:hover {
  background-color:#fff;
}

.panel {
  border-color:transparent;
  border-radius:0;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}
    
.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}
