<div class="login-container">
    <div class="login-wrapper">
        <h1>LogIn</h1>
        <form action="">
            Email
            <input type="text">
            Password
            <input type="password">
        </form>
    </div>
    <div class="signup-wrapper">
        <h1>LogIn</h1>
        <form action="">
            Email
            <input type="text">
            Password
            <input type="password">
        </form>
    </div>
</div>