<div class="login-container">
    <div class="chooselogin">
        <span onclick="flogin()" id="login-btn">
            LOGIN
        </span>
        <span onclick="fsignup()" id="signup-btn">
            SignUp
        </span>
    </div>
    <div class="loginorwrapper">
        <div class="login-wrapper" id="login">
            <h1>LOGIN</h1>
            <form id="loginForm" action="/api/usersvalid" method="post">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="signup-wrapper" id="signup">
            <h1>SignUp</h1>
            <form action="/api/users" method="post">
                <input type="text" name="name" placeholder="Name">
                <input type="text" name="username" placeholder="Username">
                <input type="text" name="password" placeholder="Password">
                <input type="password" name="cpassword" placeholder="Confirm Password">
                <div class="admin">
                    Admin Privilages : <label class="switch">
                        <input type="checkbox" name="admin" id="admin">
                        <span class="slider round"></span>
                        </label>
                </div>
                <input type="submit" class="signupbuttonclass"></input>
            </form>
        </div>
    </div>
</div>
<script>
    var login = document.getElementById('login')
    var signup = document.getElementById('signup');
    var signupbtn = document.getElementById('signup-btn')
    var loginbtn = document.getElementById('login-btn')
    function flogin(){
        login.style.display = 'block';
        signup.style.display = 'none';
        signupbtn.style.backgroundColor = '#c89953';
        loginbtn.style.backgroundColor = 'white';
    }
    function fsignup(){
        login.style.display = 'none';
        signup.style.display = 'block';
        loginbtn.style.backgroundColor = '#c89953';
        signupbtn.style.backgroundColor = 'white';
    }


</script>