<header>
  <div class="nav-container">
    <div class="nav-wrapper">
      <div class="nav-left">
            Books.IN
      </div>
      <div class="nav-center">
             <span class="nav-item"><i class="fa fa-solid fa-book marginright"></i>Books</span>
             <span></span><span class="nav-item"><i class="fa fa-solid fa-feather marginright"></i>Authors</span> 
      </div>
      <div class="nav-right">
        <span class="nav-items">LogIn</span>
        <span class="nav-items">SignUp</span> 
      </div>
    </div>
  </div>
</header>


<!-- <header class="navbar navbar-fixed-top customnav" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <a class="navbar-brand" href="#">Rajiv Gandhi Library</a>
      <nav class="collapse navbar-collapse navbar-right" role="navigation">
        <a href="/" class="navbar-brand">Home</a>
        <ul class="nav navbar-nav">
            <%for(i=0;i<nav.length;i++){%>
          <li>
            <a href="#"><%=nav[i].title%></a>
          </li>
          <%}%>
        </ul>
        <ul class="nav navbar-right navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
            <ul class="dropdown-menu" style="padding:12px;">
              <form class="form-inline">
                <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
              </form>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header> -->