<header>
  <div class="nav-container">
    <div class="nav-wrapper">
      <div class="nav-left">
        <a href="/">
          Books.IN
        </a>    
      </div>
      <div class="nav-center">
             <span class="nav-item"><i class="fa fa-solid fa-book marginright"></i><a href="/">Books</a></span>
             <span class="nav-item"><i class="fa fa-solid fa-feather marginright"></i><a href="/authors">Authors</a> </span> 
      </div>
      <div class="nav-right">
        <span class="nav-items">LogIn</span>
        <span class="nav-items">SignUp</span> 
        <span class="nav-items nav-item-s">Add</span>
      </div>
    </div>
  </div>
</header>

