<header>
  <div class="nav-container">
    <div class="nav-wrapper">
      <div class="nav-left">
        <a href="/">
          Books.IN
        </a>    
      </div>
      <div class="nav-center">
             <span class="nav-item"><i class="fa fa-solid fa-book marginright"></i><a href="/">Books</a></span>
             <span class="nav-item"><i class="fa fa-solid fa-feather marginright"></i><a href="/authors">Authors</a> </span> 
      </div>
      <div class="nav-right">
        <div class=""></div>
        <span class="nav-items nav-item-s <%= admin ? 'good' : 'bad' %>" onclick="myAddFunction()">Add</span>
        <form action="/logout" method="post">
          Hi <%=username%>
          <button type="submit" class="nav-items">LogOut</button> 
        </form>
      </div>
    </div>
  </div>
</header>
<%-include('_add-data')%>