<header>
  <div class="nav-container">
    <div class="nav-wrapper">
      <div class="nav-left">
        <a href="/">
          Books.IN
        </a>    
      </div>
      <div class="nav-center">
             <span class="nav-item"><i class="fa fa-solid fa-book marginright"></i>Books</span>
             <span></span><span class="nav-item"><i class="fa fa-solid fa-feather marginright"></i>Authors</span> 
      </div>
      <div class="nav-right">
        <span class="nav-items">LogIn</span>
        <span class="nav-items">SignUp</span> 
      </div>
    </div>
  </div>
</header>

